body {
    font-family: "Verdana","Arial Black","Helvetica";
	width: 80%;
	margin: auto;
	background-color: #b2b2b2
}
header {
    border-bottom: double 5px black;
    padding-bottom: 20px;
    
}
button {
    color: white;
    background-color: black;
}
button:hover {
    cursor: pointer;
}
submit {
    color: white;
    background-color: black;
}
.header {
    width: 100%;
    margin: auto;
    margin-top: 5px;
}
.landschap {
    width: 40%;
    margin-right: 5px;
    margin-top: 25px;
}
.floatleft {
    float: left;
}
.mtop {
    margin-top: 45px;
}
.homebutton {
    margin-bottom: 20px;
}
.logbutton {
    margin-left: 20px;
}
.winterspbutton {
    margin-left: 20px;
}
.bestbutton {
    margin-left: 20px;
}
.infobutton {
    margin-left: 20px;
}
.privebutton {
    margin-top: 20px;
}
.groepbutton {
    margin-top: 20px;
}
.annuleerbutton {
    text-decoration: none;
}
.fakebtn {
    margin-right: 5px;
    float: left;
}
.container {
    width: 200px;
    height: 230px;
    border: 1px solid darkblue;
    background-color: lightblue;
    border-radius: 5px;        
    position: relative;
    margin: 5px;
    padding: 5px;
    float:left;
    margin-top: 50px;
    margin-right: 20px;
}
.container1 {
    clear: both;
}
.titel {
    text-align: center;
    font-size: 20;
    margin-top: 10px;
    color: black;
    overflow: hidden;
    height: 30px;
    border-bottom: 1px solid darkblue;
}
.close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    cursor: pointer, progress;
}
.center {
    text-align: center;
    font-size: 15px;
}
.kinderen {
    border-top: 1px solid darkblue;
    padding-top: 5px;
    font-size: 15px;
}
.prijs {
    position: absolute;
    right: 28px;
    top: 100px;
    width: 50px;
    height: 70px;
    font-size: 14px;
}
.prijs2 {
    position: absolute;
    right: 28px;
    top: 140px;
    width: 50px;
    height: 70px;
    font-size: 14px;
}
.floatleft {
    float: left;
    margin-right: 10px;
}
.head {
    margin-top: 10px;
}
footer {
	font-size: 18px;
	font-style: italic;		
	text-align: center;
	margin: auto;
	padding: 10px;
	clear: both;
}
.clearboth {
    clear: both;
    margin-top: 10px;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: black; 
    border-top: 1px solid black;
    padding-top: 20px;
}
.bungalow {
    width: 35%;
    margin-right: 20px;
    border-radius: 20px;
}
.hotel {
    width: 35%;
    margin-right: 20px;
    border-radius: 20px;
}
.chalet {
    width: 35%;
    margin-right: 20px;
    border-radius: 20px;
}
.mbot {
    margin-bottom: 5px;
}
.border {
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
}
#skien {
    width: 35%;
    margin-right: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}
#snowb {
    width: 35%;
    margin-right: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}
#langl {
    width: 35%;
    margin-right: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}
#biat {
    width: 35%;
    margin-right: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}